body {
  margin: 10px;
  margin-top: 15px;
  min-width: 225px;
  font-family: Helvetica Nueue, Helvetica, Arial, sans-serif;
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: rgb(0, 0, 0) 0px 0px 7px;
  background: #141414;
}

h1 {
  font-size: 18px;
  margin-bottom: 15px;
  text-align: center;
}

.grid-container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Adjust label positioning */
.slider-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}

.slider-wrapper > * {
  flex: 1 1 0;
}

/* Slider styles */
label {
  min-width: 50;
}

input[type="range"] {
  min-width: 110px;
  background-color: #db0000;
  /* text-align: center; */
}

/* Output styles */
output {
  min-width: 45px;
  /* text-align: center; */
}

/* Button styles */
button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #db0000;
}

/* Switch styles */
.switch {
  margin-top: 15px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

input:checked + .slider {
  background-color: #db0000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Additional custom styles */
#languageSelect {
  width: 100%;
  padding: 5px;
}

/* Media queries for responsive design */
@media (max-width: 300px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item {
    margin-bottom: 5px;
  }
}
